<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="device-wdith, inital-scale=1.0">
  <title>mohamed gamal negm</title>
  <script src="https://kit.fontawesome.com/270e68c990.js" crossorigin="anonymous"></script>
  <link  rel="stylesheet" href="static/mypf/css/style.css">
</head>
  <body>
    <nav id="navbar">
      <h2><a href="#home"><span class="text-primary"</span>Web Programming | Level 4 | F.C.I|Luxor University</a></h2>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'contact' %}">contact</a></li>
          <li><a href="https://www.facebook.com/basam.negm" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/negmIoI" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mohamed-negm-584437147/"target="_blank"><i class="fab fa-linkedin"></i></a></li>

        </ul>

    </nav>
    <div id="all">


    <div id="about">

    <div class="container">
      <h2 class="about-heading">Get To Know <span class="text-primary">Me</span></h2>
      <div class="about-content">
        <div class="about-text">

        <h3>A Little bit <span class="text-primary">About Myself</span></h3>
        <p class="lead">my name is mohamed gamal negm,student in computer and information collage in luxor university, i live in aswan and I am a Nubian boy . </p>

<p class="lead">I have many hobbies in various fields such as sports and entertainment. I love watching most sporting events in the world. I also love reading in many fields such as history, science and general culture. I love reading novels. My favorite writers is Ahmed Khaled Tawfiq, Naguib Mahfouz, Agatha Christo, George Orwell and Dan Brown. This is part From my hobby</p>
<p class="lead">i have passion to learn new knowledge in my field computer science such as machine learning and know i stduy alot of course to learn it and i say it's a intersting track and i advice student to take in.  </p>
<p class="lead"> i'm consider a junior Web Developer specializing in front end development. Experienced with all stages of the
development cycle for dynamic web projects. Well-versed in numerous programming languages
including HTML5, python OOP, CSS, MySQL. Strong background in project management and customer
relations,have knowlodege of problem solving.</p>/
<p class="lead">One of the areas that I love is the field of competitive programming and I want to make all college students learn it because I learned its importance after entering the competitions in this field and I gained incredible experiences and knowledge from it and I loved my participation in the competition and the knowledge of friends through it</p>
<p class="lead"><strong>Sorry about my site because i have little knowlodge about web desgin</strong></p>
        </div>

    <div class="about-image">
      <img src="static/mypf/img/my.jpg" alt="picture of myself">
      </div>
    </div>
    </div>
    </div>
      <div id="skills" class="bg-light">
        <div class="container">
          <h2>Here is What <span class="text-primary">learn</span></h2>
          <div class="boxes">
            <div class="box">
              <h3><span class="text-primary">Things I Learned</span></h3>
              <div class="feature">
                <i class="fas fa-check"></i>python
              </div>
              <div class="feature">
                <i class="fas fa-check"></i>Desktop app (java)
              </div>
              <div class="feature">
                <i class="fas fa-check"></i>Little web design
              </div>

            </div>
            <div class="box">
              <h3><span class="text-primary">Things Keep Learning</span></h3>
              <div class="feature">
                <i class="fas fa-check"></i>machine learning
              </div>
              <div class="feature">
                <i class="fas fa-check"></i>problem Solving
              </div>
              <div class="feature">
                <i class="fas fa-check"></i>web development
              </div>

            </div>

          </div>

        </div>

      </div>

      <div class="myskills">
        <h2>My<span class="text-primary">Skills</span></h2>
        <li>
          <h3>Python</h3><span class="bar"><span class="python"></span></span>
        </li>
        <li>
          <h3>C++</h3><span class="bar"><span class="cpp"></span></span>
        </li>
        <li>
          <h3>Jave</h3><span class="bar"><span class="java"></span></span>
        </li>
        <li>
          <h3>Html</h3><span class="bar"><span class="htmll"></span></span>
        </li>
        <li>
          <h3>Problem Solving</h3><span class="bar"><span class="solve"></span></span>
        </li>
      </div>


      <footer class="footer text-center margin">

         <p id="lss">This  personal portfolio website created by
           <b>mohamed gamal Negm</b>.</p>


      </footer>
      </div>
  </body>
</html>
