
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="device-wdith, inital-scale=1.0">
    <title>mohamed gamal negm</title>
    <script src="https://kit.fontawesome.com/270e68c990.js" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="static/mypf/css/style.css">
  </head>
  <body id="Home">
    <!--navbar-->
    <nav id="navbar">
      <h2><a href="#home"><span class="text-primary"</span>Web Programming | Level 4 | F.C.I|Luxor University</a></h2>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="{% url 'about' %}">about</a></li>
        <li><a href="{% url 'contact' %}">contact</a></li>
        <li><a href="https://www.facebook.com/basam.negm" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/negmIoI" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/mohamed-negm-584437147/"target="_blank"><i class="fab fa-linkedin"></i></a></li>

      </ul>

    </nav>
    <!-- show -->
    <header id="showcase">
      <div class="showcase-content">
        <div class="container">
          <h1>take your passion lead you to<br><span class="text-primary">achieve your goals</span>
          <a href="static/mypf/files/mycv.pdf" download class="btn">NEVER GIVE UP</a>
        </div>
        <footer class="footer text-center margin">

           <p class="lead mb-0">This  personal portfolio website created by
             <b>mohamed gamal Negm</b>.</p>


       </footer>

  </body>
</html>
